#jinja2: lstrip_blocks: True

# {{ loaded_artifact.metadata.template.description }}

resource "null_resource" "{{ template_data.artifact.full_name | replace('template_file_', '') }}" {
  triggers {
    env_file = "${sha1(file("${var.{{ template_data.artifact.full_name }}_path}/${var.{{ template_data.artifact.full_name }}_name}"))}"
  }
  provisioner "local-exec" {
    command = "echo '${data.template_file.{{ template_data.artifact.full_name | replace('template_file_', '') }}.rendered}' > ${var.{{ template_data.artifact.full_name }}_path}/${var.{{ template_data.artifact.full_name }}_name}"
  }
}

