{# attribute.j2 #}

{% import 'helpers.j2' as h %}

{% macro entry(name, definition, artifact, template_data) %}
  {% set delimit_start = '[${' if definition.type is defined and definition.type == 'list' else '${' %}
  {% set delimit_end = '}]' if definition.type is defined and definition.type == 'list' else '}' %}
  {% if definition.required or artifact | length > 0 %}
output "{{ template_data.artifact.full_name }}_{{ name }}" {
    {% call h.key_value('description', definition.description, definition, template_data) %}{% endcall %}
    {% call h.key_value('value', delimit_start + template_data.artifact.full_name_dot + '.' + (definition.name | default(name)) | replace('-', '_') + delimit_end, definition, template_data) %}{% endcall %}
}
  {% endif %}
{% endmacro %}
