#jinja2: lstrip_blocks: True
{% import 'variable.j2' as variable %}
{% import 'argument.j2' as argument %}
{% import 'attribute.j2' as attribute %}

# {{ artifact.metadata.description }}
# See: {{ artifact.metadata.url | default(template_data.default_url) }}

{% for name, definition in artifact_definition.variables.iteritems() %}
{{ variable.entry(name, definition, artifact.variables[name] | default(''), template_data) }}
{% endfor %}

{%- if template_content %}
{{ template_content }}
{% else %}
{{ render_type }} "{{ artifact.metadata.type }}"{% if render_type != 'provider' %} "{{ artifact_name }}"{% endif %} {
  {% for name, definition in artifact_definition.arguments.iteritems() %}
{{ argument.entry(name, definition, artifact.arguments[name] | default(''), template_data) }}
  {%- endfor %}
}
{% endif %}

{% for name, definition in artifact_definition.attributes.iteritems() %}
{{ attribute.entry(name, definition, artifact.attributes[name] | default(''), template_data) }}
{% endfor %}
