#jinja2: lstrip_blocks: True
---
application_manifest:
  terraplate:
    application_name: {{ spec.application.name }}
{# }
{% key, values in config_defaults.iteritems() %}
    {{ key }}:
      {{ values }}
      # repos: [dns]
      # network depends on admin
      # TODO: implement this
      # network: [admin]
  providers:
    - metadata:
        type: aws
      arguments:
        profile: default
  data_sources:
    - metadata:
        type: terraform_remote_state
        name: dns
      arguments:
        config:
          bucket: com-openmarketinggroup-terraform-state
          region: ap-southeast-1-app
          key: admin/dns
{ #}
