#jinja2: lstrip_blocks: True
{% set dbl = '{{' %}
---
# Becuase fact collection is turned off:
ansible_env:
  HOME: "{{ dbl }} lookup('env','HOME') }}"

terraplate:
  debug_vars: no
  encrypt_plan_vars: yes

  root_dir: '{{ dbl }} inventory_dir }}/terraform'
  vars_dir: '{{ dbl }} inventory_dir }}/terraform'
  vars_path: '../..'
  tfvars_file: '{{ dbl }} tfvars_pattern }}'

  remote_state:
    # Example of segmenting terraform remote state buckets by environment if preferred:
    # bucket: '{{ dbl }} config.globals.remote_state_name }}-{{ dbl }} terraplate.env.tld }}'
    bucket: {{ remote_state_bucket_name }}
    dynamodb_table: {{ remote_state_bucket_name }}
    region: {{ remote_state_bucket_region }}

# components:
#   data_sources:
#     - metadata:
#         type: terraform_remote_state
#       arguments:
#         config:
#           bucket: {{ remote_state_bucket_name }}
#           region: {{ remote_state_bucket_region }}
