# {{ loaded_artifact.metadata.description }}

data "aws_iam_policy_document" "{{ user_artifact.metadata.name }}" {
  statement {
    effect    = "Allow"
    sid       = "Stmt1EmberCLIS3DeployPolicy"
    actions   = [
      "s3:GetObject",
      "s3:PutObject",
      "s3:PutObjectACL",
    ]
    resources = [
      "arn:aws:s3:::{{ user_artifact.arguments.aws_s3_bucket_bucket }}/*",
    ]
    principals {
      type        = "AWS"
      identifiers = ["${aws_iam_user.{{ user_artifact.arguments.aws_iam_user_name }}.arn}"]
    }
  }

{% if user_artifact.arguments.cidr_blocks != "0.0.0.0/0" %}
  statement {
    effect    = "Deny"
    sid       = "IPDeny"
    actions   = [
      "s3:*",
    ]
    resources = [
      "arn:aws:s3:::{{ user_artifact.arguments.aws_s3_bucket_bucket }}/*",
    ]
    principals {
      type        = "AWS"
      identifiers = ["*"]
    }
    condition = {
      test     = "IpAddress"
      variable = "aws:SourceIp"
      values   = [
        "0.0.0.0/0"
      ]
    }
    condition = {
      test     = "NotIpAddress"
      variable = "aws:SourceIp"
      values   = [
        "{{ user_artifact.arguments.cidr_blocks }}"
      ]
    }
  }
{% endif %}
}
