{% import 'render.j2' as render %}
{% set tf_dollar = '${' %}
{% set pad_length = 40 %}
# {{ artifact.metadata.description }}
# See: {{ artifact.metadata.url | default(reference_artifact_default_url) }}

{% for name, definition in artifact_definition.variables.iteritems() %}
{% set value = artifact.variables[name] | default(definition.default) %}
{% if value is defined %}
variable "{{ artifact_full_name }}_{{ name }}" {
  {{ render.key('description', pad_length) }} = "{{ definition.description }}"
  {{ render.key('default', pad_length) }} = {{ render.value(definition, value) }}
}

{% endif %}
{% endfor %}

{% if template_content is defined %}{{ template_content }}{% else %}
{{ render_type }} "{{ artifact.metadata.type }}" "{{ artifact.metadata.name }}" {
{% for name, definition in artifact_definition.arguments.iteritems() %}
  {#- if this is an associated resource then the value is a reference to the primary_artifact's id #}
  {%- if user_primary_artifact.metadata['type'] is defined and name == artifact_associated[user_primary_artifact.metadata.type] %}
    {%- set value = '${' + user_primary_artifact.metadata.type + '.' + user_primary_artifact.metadata.name + '.id}' %}
  {%- elif definition.required == True %}
    {%- set value = (artifact.arguments[name] | default(definition.default) | default({'FIXME': 'NO DEFAULT AVAILABLE!'})) %}
  {%- else %}
    {%- set value = artifact.arguments[name] | default(definition.default) %}
  {%- endif %}
  {%- if value is defined %}
    {%- if definition.multi is defined and definition.multi == True %}
      {%- for item in value %}  {{ render.key(name, pad_length) }} = {
  {% for multi_name, multi_value in item.iteritems() %}  {{ render.key(multi_name, pad_length) }} = {{ render.value(definition.arguments[multi_name], multi_value) }}
  {% endfor %}}
{% endfor %}
    {%- else %}
  {{ render.key(name, pad_length) }} = {{ render.value(definition, value) }}
{% endif %}
  {%- endif %}
{% endfor %}
}
{% endif %}

{% for name, definition in artifact_definition.attributes.iteritems() %}
{% set value = artifact.attributes[name] %}
output "{{ artifact_full_name }}_{{ name }}" {
  {{ render.key('description', pad_length) }} = "{{ definition.description }}"
  {{ render.key('value', pad_length) }} = "{{ tf_dollar }}{{ artifact.metadata.attribute_prefix | default('') }}{{ artifact.metadata.type }}.{{ (artifact.metadata.name + '.' + (definition.name | default(name))) | replace('-', '_') }}}"
}

{% endfor %}
