#jinja2: lstrip_blocks: True
{% import 'render.j2' as render %}
{% import 'arguments.j2' as argument %}

# {{ artifact.metadata.description }}
# See: {{ artifact.metadata.url | default(reference_artifact_default_url) }}
#
{%- for name, definition in artifact_definition.variables.iteritems() %}
  {% if artifact.variables[name] is defined %}
variable "{{ artifact_full_name }}_{{ name }}" {
  {{ render.key('description', template_data.key_pad) }} = "{{ definition.description }}"
  {{ render.key('default', template_data.key_pad) }} = {{ render.variable_value(definition, artifact.variables[name], template_data.parent.name) }}
}

  {% endif %}
{% endfor %}

{% if template_content %}
{{ template_content }}
{% else %}
{{ render_type }} "{{ artifact.metadata.type }}" "{{ artifact_name }}" {
  {% for name, definition in artifact_definition.arguments.iteritems() %}
{{ argument.entry(name, definition, artifact.arguments[name] | default(''), template_data) }}
  {%- endfor %}
}
{% endif %}

{%- for name, definition in artifact_definition.attributes.iteritems() %}
  {% set value = '"${' + artifact_full_name_dot + '.' + (definition.name | default(name)) | replace('-', '_') + '}"' %}
  {% if definition.type is defined and definition.type == 'list' %}
    {% set value = '[' + value + ']' %}
  {% endif %}

output "{{ artifact_full_name }}_{{ name }}" {
  {{ render.key('description', template_data.key_pad) }} = "{{ definition.description }}"
  {{ render.key('value', template_data.key_pad) }} = {{ value }}
}
{% endfor %}
