{% macro value(definition, value, parent_artifact_name) -%}
  {%- if definition.type is not defined %}"{{ value | replace('_name_', parent_artifact_name) }}"
  {%- elif definition.type == 'map' %}{ {% for name, mvalue in value.iteritems() %}{{ name }} = "{{ mvalue | replace('_name_', parent_artifact_name) }}" {% endfor %}}
  {%- elif definition.type == 'list' %}[{% for lvalue in value %} "{{ lvalue | replace('_name_', parent_artifact_name) }}",{% endfor %}]
  {%- else %}{{ "WARN: invalid type."/0 }}
  {%- endif %}
{%- endmacro -%}

{% macro key(key, pad_length) -%}
  {{ key }}{{ ' ' * (pad_length - (key | length)) }}
{%- endmacro %}

{% macro render_var(definition, var_string) -%}
  {% set is_list = (definition.type is defined and definition.type == 'list') %}
  {%- if is_list %}[{% endif %}"${var.{{ var_string }}}"{% if is_list %}]{% endif %}
{%- endmacro %}
