#jinja2: lstrip_blocks: True
---
terraplate:
  some: value

providers:

data_sources:

resources:
{% for key, value in qa.arguments.iteritems() %}
{{ (spec.component.inventory_name + '-' + key) | replace('-', '_') }} = "{{ value }}"
{% endfor %}
