{# artifact.j2 #}
{% set db = '{{' %}

{% macro render(reference_component, user_component, artifact_type) %}
  {% if reference_component[artifact_type] is defined %}
          {{ artifact_type }}:
    {% for artifact in reference_component[artifact_type] %}
            - metadata:
                type: '{{ artifact.metadata.type }}'
                name: '{{ artifact.metadata.name }}'
      {% if artifact.metadata.profile is defined %}
                profile: '{{ artifact.metadata.profile }}'
      {% endif %}
      {% set user_artifact = user_component[artifact_type][artifact.metadata.type + '_' + artifact.metadata.name] if true else '' %}
      {% if user_component[artifact_type][artifact.metadata.type + '_' + artifact.metadata.name] is defined %}
        {# set user_artifact = user_component[artifact_type][artifact.metadata.type + '_' + artifact.metadata.name] #}
        {% if user_artifact.variables is defined %}
              variables:
          {% for key, value in user_artifact.variables.iteritems() %}
            {% if value | length > 0 %}
                {{ key }}: '{{ db }} component_variables.{{ artifact_type }}.{{ artifact.metadata.type }}_{{ artifact.metadata.name }}.{{ key }} }}'
            {% endif %}
          {% endfor %}
        {% endif %}
        {% if user_artifact.arguments is defined %}
              arguments:
          {% for key, value in user_artifact.arguments.iteritems() %}
            {% if value | length > 0 %}
                {{ key }}: '{{ value }}'
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}
