#jinja2: lstrip_blocks: True
{% import 'artifact.j2' as artifact %}
#!/usr/bin/env ansible-playbook
---
- name: Render Terraform code
  hosts: {{ spec.component.inventory.name }}
  tasks:
    - include_vars: {{ '../' * (spec.namespace.name.split('/') | length) }}../application_manifest.yml
    - include_vars: variables.yml
    - include_role:
        name: terraplate/terraform/plan
      vars:
        component_manifest:
{% if user_component.terraplate is defined %}
          terraplate:
            component_name: {{ spec.namespace.name }}/{{ spec.component.name }}
{% for key, values in user_component.terraplate.iteritems() %}
            {{ key }}: {{ values }}
{% endfor %}
{% endif %}
{{ artifact.render(reference_component, user_component, 'providers') }}
{{ artifact.render(reference_component, user_component, 'data_sources') }}
{{ artifact.render(reference_component, user_component, 'resources') }}
