{% set var_paths = [] %}
{% if spec.providers.required | length > 0 %}{{ var_paths.append(spec.terragrunt.credentials_path) }}{% endif %}
{% if spec.external_vars | length > 0 %}{{ var_paths.append(spec.terragrunt.component_vars_path) }}{% endif %}
terragrunt = {
{% if var_paths | length > 0 %}
  terraform {
    # NOTE: This is used to source provider secrets, e.g. GitHub token
    extra_arguments "variables" {
      commands  = ["${get_terraform_commands_that_need_locking()}"]
      arguments = [
{% for var_path in var_paths %}
        "-var-file=${get_tfvars_dir()}/{{ relative_root_path }}{{ var_path }}",
{% endfor %}
      ]
    }
  }
{% endif%}
  include = {
    path = "${find_in_parent_folders()}"
  }
{% if spec.dependencies | length > 0 %}
  dependencies {
    paths = [
{% for dependency in spec.dependencies %}
      "{{ dependency }}",
{% endfor %}
    ]
  }
{% endif %}
}
