terragrunt = {
  remote_state {
    backend = "s3"
    config {
      bucket         = "{{ spec.terragrunt.remote_state.bucket | default('my-terraform-state') }}"
      key            = "${path_relative_to_include()}/terraform.tfstate"
      region         = "{{ spec.terragrunt.remote_state.region | default('us-east-1') }}"
      encrypt        = {{ spec.terragrunt.remote_state.encrypt | default('true') }}
      dynamodb_table = "{{ spec.terragrunt.remote_state.dynamodb_table | default('my-lock-table') }}"
      
      s3_bucket_tags {
        owner = "terragrunt integration test"
        name  = "Terraform state storage"
      }

      dynamodb_table_tags {
        owner = "terragrunt integration test"
        name  = "Terraform lock table"
      }
    }
  }
  terraform {
    extra_arguments "commands" {
      commands  = ["${get_terraform_commands_that_need_locking()}"]
    }
  }
}
