{# helpers.j2 #}

{% macro key_value(name, rstring, definition, template_data) %}
  {% call key(name, template_data) %}{% endcall %} = {% call value(rstring, definition, template_data) %}{% endcall %}{{ caller() }}
{%- endmacro %}

{% macro key(key, template_data) -%}
{{ ' ' * template_data.indent }}{{ key }}{{ ' ' * (template_data.key_pad - (key | length)) }}{{ caller() }}
{%- endmacro %}

{% macro value(rstring, definition, template_data) %}
  {% if definition.type is defined %}
    {% if definition.type == 'list' %}
["{{ rstring | replace('_name_', template_data.parent.name) }}"]
    {% elif definition.type == 'map' %}
"{ {{ rstring | replace('_name_', template_data.parent.name) }}}"
    {% endif %}
{# }
    {% if definition.type == 'list' %}[
      {%- for list_item in rstring -%}
"{{ list_item | replace('_name_', template_data.parent.name) }}",
      {%- endfor %}]
    {% elif definition.type == 'map' %}{
      MAP! "{{ rstring | replace('_name_', template_data.parent.name) }}"
}   {% endif %}
{ #}
  {% else %}
"{{ rstring | replace('_name_', template_data.parent.name) }}"
  {% endif %}
{{ caller() }}
{%- endmacro %}

{% macro debug(macro_name, vars) %}
# {{ '-' * 20 }} {{ macro_name }}
  {% for label, value in vars.iteritems() %}
    {% if value is mapping %}
# {{ label }}:
      {% for label, value in value.iteritems() %}
#   {{ label }}: {{ value }}
      {% endfor %}
    {% else %}
# {{ label }}: {{ value }}
    {% endif %}
  {% endfor %}
# {{ '-' * 20 }}
{{ caller() }}
{%- endmacro %}
