#jinja2: lstrip_blocks: True
terragrunt = {
  remote_state {
    backend = "s3"
    config {
      bucket         = "{{ spec.terraplate.application.remote_state.bucket }}"
      key            = "${path_relative_to_include()}/terraform.tfstate"
      region         = "{{ spec.terraplate.application.remote_state.region }}"
      encrypt        = {{ spec.terraplate.application.remote_state.encrypt }}
      dynamodb_table = "{{ spec.terraplate.application.remote_state.dynamodb_table }}"
      
      s3_bucket_tags {
        owner = "terragrunt integration test"
        name  = "Terraform state storage"
      }

      dynamodb_table_tags {
        owner = "terragrunt integration test"
        name  = "Terraform lock table"
      }
    }
  }
  terraform {
    extra_arguments "commands" {
      commands  = ["${get_terraform_commands_that_need_locking()}"]
    }
  }
}
